    

      div#lg1{border: 1px solid rgba(255, 0, 0, 0.144)}
      div#lg1 >div.resumeScore >div{border: 2px solid black}

      div#c2{border: 1px solid rgba(48, 43, 43, 0.13);}
      div#c2 >div >div.mrJackCard{border: 2px solid black; height: 100px}

      div#c2 >div >aside.jetonsTemps{      
        background-color: #CEAD81;
        border: 2px solid rgba(32, 32, 32, 0.158); 
        min-height: 600px;
        z-index: 5;
        }
      div#c2 >div >article.plt{
        border: 2px solid rgba(0, 0, 0, 0.678); 
        height: 860px
        }
      div#c2 >div >nav>div.cartesAlibi{
        background-color: #CEAD81;
        border: 1px solid rgba(0, 0, 0, 0.288); 
        height: 150px}
      div#c2 >div >nav>div.jetonsAction{
        background-color: #CEAD81;
        border: 2px solid rgba(0, 0, 0, 0.267);
        min-height: 600px;
        box-shadow: inset 6em 2em rgb(255,223,0);}

      div#c2 >div >footer{border: 2px solid black; height: 100px}
      @media screen and (max-width: 900px) {
        .header-gradient{
      display: inline-block;
      width: 200px;
      background: url('images/front/mr-jack-pocket-1280x600.jpg');
        }
      }
      @media screen and (max-width: 640px) {
        div#c2 >div >aside.jetonsTemps{ height: 200px}
        
      }

      div#plateau {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
      column-gap:0px;
      grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
      border: 1px solid rgb(230, 229, 229);
    }
   .tuileDetective{
    border: 3px solid rgba(252, 166, 166, 0.568);
    background-color: rgba(252, 164, 0, 0.39);
    box-shadow: 4px 6px 2px 2px rgba(0, 0, 255, .2);

   }
   .tuileDistrict{
    border: 1px solid rgba(128, 128, 128, 0.74);
   }
    /*styler les 25 cases dynamiques du  plateau*/ 
    div#plateau>div{
      width: 150px;
      height: 150px;
      display: grid;
      grid-template-columns: repeat(3,33.2%);
      grid-template-rows: repeat(3,33.2%);
      position: relative;
    }
    /*styler les 81  cases dynamiques des tuiles*/ 
     div#plateau>div>div.sousCase {   
      border: 1px solid rgba(0, 0, 255, 0.692);
    }
    /*styler les cases representant les chemins*/
    div#plateau>div>div.sousCase.Plenty#i {   
      background-color:  rgba(0, 0, 255, 0.253);
    }
    /*styler la tuile district*/
    .tuileDistrict{
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: 10;
    }
    .murOvest,.murEst,.murSud,.murNord{
      position: relative;
    }
    .MJk, .MJk:active{
      border :3px  solid rgba(255, 0, 21, 0.432);

    }
    .JD{
      border :3px  solid rgba(0, 119, 255, 0.822);

    }
    #lancerJetons{
      display: none;
    }
    #retournerJetons{
      display: none;
    }
    .jetonsAction{
      padding-left: 17px;
    }
    .activeJetonAction{
      border: 4px solid rgba(235, 7, 37, 0.808) ;
      border-radius: 20%;
    
    }
    .rotation{
      position:static;
    }
    /*styler le boutton rotation 90*/
    #rot90{
      background-color: salmon;
    }
    #rot180{
      background-color: rgb(202, 30, 11);
    }
    #rot90,#rot180{
      position: relative;
    }
    .jeuJetons,.jeuTemps{
      padding-bottom: 7px;
    }
    .logo{
      display: inline-block;
      height: 200px;
      width: 500px;
      background-image: url('images/front/mr-jack-pocket-logo.jpg');
    }
    .header-gradient{
      display: inline-block;
      width: 200px;
       max-width: 1300px;
      height: 200px;
      background: url('images/front/mr-jack-pocket-1280x600.jpg')  ;
      /*background: radial-gradient(#A18A60,#9F895F,#524735);*/
      /*background-image:url('images/front/grad.jpg'), url('paper.gif');
     /* background: linear-gradient(#A18A60,#9F895F,#88734D,#88734D,#524735);*/
    }
    .plt{
      background-color: #e2d0ac46;
    }
    img.carteMrJack{
      position: relative;
      z-index: 10;
    }
   
    